/*--------------------------------------------------------------
## Main Colors
--------------------------------------------------------------*/

$black: #000;
$white: #fff;

$dk-brown: #413022;

$grey: #c9c9c9;
$lt-grey: #f2f2f2;
$dk-grey: #373737;
$dk-grey2: #444;

$blue: #1178be;
$lt-blue: #5e9dcb;
$baby-blue: #69b8ea;
$baby-blue2: #bbd8e9;
$dk-blue: #294874;
$sky-blue: #c9e6f7;

$orange: #ef6248;
$orange2: #ed4b2e;
$orange3: #fa4625;
$orange4: #ff5c12;

$placeholder-transparency:rgba(255,255,255,0.6);
/*--------------------------------------------------------------
## Pathways Colors
--------------------------------------------------------------*/

$off-white: #ebebeb;
$dk-shadow: #94afc1;